<ion-header>
  <ion-toolbar color="warning">
    <ion-title id="tituloCadastro">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-card>
      <img alt="Silhouette of mountains" src="http://2.bp.blogspot.com/_M9LF5NrXkiQ/S8m2rDteeAI/AAAAAAAAAQ4/usSasF4CYLo/s400/marcas.jpg"/>
      <ion-card-header>
        <ion-card-title>Cadastro de Produtos</ion-card-title>
        <ion-card-subtitle>Para o produto ser válido, favor preencher todos os campos.</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
    <form [formGroup]="formCadastro">
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of mensagensErro.nome">
        <span class="msg-erro" *ngIf="nome?.errors?.[erro.tipo] && (nome?.dirty || nome?.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>
      <!--fim-->
      <ion-item>
        <ion-label position="floating">Descrição:</ion-label>
        <ion-input formControlName="descricao"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of mensagensErro.descricao">
        <span class="msg-erro" *ngIf="descricao?.errors?.[erro.tipo] && (descricao?.dirty || descricao?.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>
      <!--fim-->
      <ion-item counter="true" fill="clear">
        <ion-label position="floating">Validade:</ion-label>
        <ion-input type="date" placeholder="" formControlName="validade"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of mensagensErro.validade">
        <span class="msg-erro" *ngIf="validade?.errors?.[erro.tipo] && (validade?.dirty || validade?.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>
      <!--fim-->
      <ion-item>
        <ion-label position="floating">Preço:</ion-label>
        <ion-input formControlName="preco"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of mensagensErro.preco">
        <span class="msg-erro" *ngIf="preco?.errors?.[erro.tipo] && (preco?.dirty || preco?.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>
      <!--fim-->
    </form>
  </ion-list>

<ion-grid>
  <ion-row>
    <ion-button color="warning" expand="full" (click)="salvar()"><u class="btnRegistrar">Registrar</u></ion-button>
  </ion-row>
</ion-grid>
</ion-content>
