.msg-erro
{
  font-size: small;
  color: red;
  text-align: center;
  margin-left: 20px;
}

.btnRegistrar {
  text-align: center;
  text-decoration: none;
}

#tituloCadastro {
  font-weight: bold;
  text-align: center;
}
