<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Desenvolvedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card color="danger">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5969/5969113.png"
      alt="Devs">
    <ion-item>
      <ion-header>
      <ion-card-subtitle class="subtitle">Alunos que fizeram esse app</ion-card-subtitle>
      <ion-card-title class="nome"><a href="https://github.com/joa0-182" target="_blank">João Pedro Maria</a></ion-card-title>
      <ion-card-title class="nome"><a href="https://github.com/willian1997" target="_blank">Willian R. Ferreira</a></ion-card-title>
    </ion-header>
    </ion-item>
  </ion-card>
</ion-content>
