<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
      <ion-back-button><ion-icon name="add-outline"></ion-icon></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="buscarProdutos()" color="dark" expand="block" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >
    CADASTRAR NOVO PRODUTO
  </ion-button>
  <ion-item *ngFor="let produto of listaCadastros">
    <ion-label>
      <h2>{{produto.nome}}</h2>
      <p class="descricao">{{produto.descricao}}</p>
      <ion-label class="datapreco">
        <span>{{produto.validade  | date }}</span>
        <span class="preco">{{produto.preco | currency : 'BRL'}}</span>
      </ion-label>
      <!-- <ion-button (click)="deletar(produto)" hidden>Deletar</ion-button> -->
    </ion-label>

  </ion-item>

</ion-content>
